
env:
  # --- LOCAL ENV CONTEXT --- #

  KEG_CONTEXT_PATH: "{{ cli.paths.components }}"


  # --- COMPONENTS ENV CONTEXT --- #

  KEG_DOCKER_FILE: "{{ cli.paths.containers }}/components/Dockerfile"
  KEG_VALUES_FILE: "{{ cli.paths.containers }}/components/values.yml"

  # Defines the location of the mutagen config
  # Without it, mutagen syncs will use the default settings
  KEG_MUTAGEN_PATH: "{{ cli.paths.containers }}/components/mutagen.yml"
  
  # The default docker-compose file path
  KEG_COMPOSE_DEFAULT: "{{ cli.paths.containers }}/components/docker-compose.yml"
  # Can also define other an override compose files
  # Other compose files can loaded by setting an ENVS as follows:
    # KEG_COMPOSE_REPO="/path/to/override.yml"
    # KEG_COMPOSE_COMPONENTS_<ENV>: "/path/to/override.yml"
    # KEG_COMPOSE_<ENV>: "/path/to/override.yml"


  # --- DOCKER ENV CONTEXT --- #

  # Location of the application within the docker container
  # Defines the WORKDIR within the Dockerfile and docker-compose.yml
  DOC_APP_PATH: /keg/keg-components

  # Port the application will use when running
  # Will be bound to port 80 of the local host
  DOC_APP_PORT: 60710
  
  # Defines the location in a docker container for a dependency
  # This allows mutagen to know where to sync the local version of the dependency
  DOC_RETHEME_PATH: /keg/keg-components/node_modules/@simpleviewinc/re-theme

  # --- GENERAL CONTEXT ENVs --- #

  # Image Build information
  IMAGE: keg-components
  VERSION: "0.0.1"
  CONTAINER_NAME: keg-components
