
env:
  # --- LOCAL ENV CONTEXT --- #

  KEG_CONTEXT_PATH: "{{ cli.paths.components }}"


  # --- COMPONENTS ENV CONTEXT --- #

  KEG_DOCKER_FILE: "{{ cli.paths.containers }}/components/Dockerfile"
  KEG_VALUES_FILE: "{{ cli.paths.containers }}/components/values.yml"
  # The default docker-compose file path
  KEG_COMPOSE_DEFAULT: "{{ cli.paths.containers }}/components/docker-compose.yml"
  # Can also define other an override compose files
  # Other compose files can loaded by setting an ENVS as follows:
    # KEG_COMPOSE_REPO="/path/to/override.yml"
    # KEG_COMPOSE_COMPONENTS_<ENV>: "/path/to/override.yml"
    # KEG_COMPOSE_<ENV>: "/path/to/override.yml"


  # --- DOCKER ENV CONTEXT --- #

  DOC_APP_PATH: /keg/keg-components
  DOC_APP_PORT: 60710
  DOC_RETHEME_PATH: /keg/keg-components/node_modules/@simpleviewinc/re-theme

  # --- GENERAL CONTEXT ENVs --- #

  # Image Build information
  IMAGE: keg-components
  VERSION: "0.0.1"
  CONTAINER_NAME: keg-components
