@font-face {
  src: url(../../../node_modules/react-native-vector-icons/Fonts/MaterialIcons.ttf);
  font-family: MaterialIcons;
}

@font-face {
  src: url(../../../node_modules/react-native-vector-icons/Fonts/FontAwesome.ttf);
  font-family: FontAwesome;
}