**/.git
**/.cache
**/*.md
**/npm-debug.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/*.orig.*
**/web-build
**/web-report
**/yarn-error.log
**/reports
**/.DS_Store
**/.vscode
**/tmp
**/.expo
**/.expo-shared
**/logs
**/.git
**/.DS_Store
**/taps/**
**/external
**/node_modules