name: Run Tests

on:
  push:
    branches: 
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      PUBLIC_GIT_KEY: ${{ secrets.PUBLIC_GIT_KEY }}

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn install
    - run: yarn test 

