/temp
/temp_assets
/builds
/bundle

# code coverage
coverage/

# OSX
#
.DS_Store



# Gradle
#
android/.gradle

# Android Studio
#
.idea/
*.iml
local.properties
/.vscode
/tsconfig.json
android/.project
android/app/.project
android/.settings/org.eclipse.buildship.core.prefs
android/.classpath
android/app/bin/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/.classpath
android/app/.settings/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Bundle artifact
*.jsbundle

# RNFirebaseStarter
yarn.lock
package-lock.json


# Ignore test report
test-report.xml

# Don't even know what this is
*.tgz

# Don't include any of the production builds
build/*