Dockerfile
.git
.cache
*.md
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
reports/
core/base/assets/index.js
# macOS
.DS_Store
.vscode
core/base/assets/index.js
kc-touch.js
tmp
.expo-shared
node_modules
logs
**/.git
**/.DS_Store
core/base/assets/index.js
.npmrc