node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
yarn-error.log
jest_html_reporters.html
test-report.xml
core/base/assets/index.js
# macOS
.DS_Store
.vscode
core/base/assets/index.js
