name: keg-build
on: push

jobs:
  tests:
    name: 'Build Repos'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: "Get Changed Files"
        id: get-changed-files
        run: scripts/ci/getChangedFiles.sh
      - name: "Get Changed Repos"
        id: get-changed-repos
        run: scripts/ci/getChangedRepos.sh
      - name: Get Yarn Cache Directory
        id: get-yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            repos/**/node_modules
          key: ${{ runner.os }}-modules-${{ hashFiles('repos/**/yarn.lock') }}
      - name: Install Yarn Dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: scripts/ci/runYarnCmd.sh "install"
      - name: "Run Repo Tests"
        id: run-repo-tests
        run: scripts/ci/runYarnCmd.sh "test"
      - name: "Run Repo Build"
        id: run-repo-build
        run: scripts/ci/runYarnCmd.sh "build"
      - name: "Commit Repo Changes"
        id: commit-changes
        run: scripts/ci/commitChanges.sh "Repo-Build"