name: keg-pr-changes
on: pull_request

jobs:
  tests:
    name: 'Generate changed files list'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "Get Changed Files"
        id: get-changed-files
        run: bash scripts/ci/getChangedFiles.sh

      - name: "Get Changed Repos"
        id: get-changed-repos
        run: bash scripts/ci/getChangedRepos.sh

      - name: "Generate PR Changes"
        id: generate-pr-changes
        run: bash scripts/ci/generatePRChanges.sh

      - name: "Get Comment Body"
        id: get-comment-body
        run: |
          body=$(cat .github/workflows/template.md)
          body="${body//'%'/'%25'}"
          body="${body//$'\n'/'%0A'}"
          body="${body//$'\r'/'%0D'}" 
          echo ::set-output name=body::$body

      - name: "Find Comment"
        uses: peter-evans/find-comment@v1
        id: find-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: '### Changed Files'

      - name: "Create comment"
        if: ${{ steps.find-comment.outputs.comment-id == 0 }}
        uses: peter-evans/create-or-update-comment@v1
        id: create-comment
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: ${{ steps.get-comment-body.outputs.body }}

      - name: "Update comment"
        if: ${{ steps.find-comment.outputs.comment-id != 0 }}
        uses: peter-evans/create-or-update-comment@v1
        id: update-comment
        with:
          edit-mode: replace
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          body: ${{ steps.get-comment-body.outputs.body }}
